<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-device-view></app-device-view>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My devices</h2>
      <ul class="list-group">
        <app-device *ngFor="let device of devices; let i = index" 
          [deviceName]="device.name"
          [deviceStatus]="device.status"
          [index]="i">
        </app-device>
      </ul>

      <button class="btn btn-success" 
        [disabled]="!isAuth"
        (click)="onSwitchOn()">Light it up !</button>

      <button class="btn" 
        [disabled]="!isAuth"
        (click)="onSwitch()">Switch</button>

    </div>
  </div>
</div> -->
